# Servidor
PORT=3000
NODE_ENV=development

# Banco de dados MySQL
DB_HOST=mysql-f45033b-dellsalsicha-fd08.e.aivencloud.com
DB_PORT=18343
DB_USER=avnadmin
DB_PASSWORD=AVNS_15ryqoyvUyta7Yj3GcL
DB_NAME=defaultdb

# JWT
JWT_SECRET=troque_esta_chave_secreta_super_forte
JWT_EXPIRES_IN=8h

# Usuário admin criado pelo script de seed
ADMIN_NAME=Administrador do Sistema
ADMIN_EMAIL=admin@lms-bncc.edu.br
ADMIN_PASSWORD=Admin@12345
